Django==1.11.2
argparse==1.2.1
dj-database-url==0.3.0
dj-static==0.0.6
django-toolbelt==0.0.1
gunicorn==19.7.1
psycopg2==2.7
static3==0.6.1
wsgiref==0.1.2
email==4.0.2
social-auth-app-django==1.2.0
social-auth-core==1.4.0
django-reset-migrations==0.3.1
Pillow==3.3.0
dj-static==0.0.6
